/* .card-img-top:hover{
    background-color: bisque;
} */

.img-hover-effect:hover {
    /* Define your hover effect styles here */
    transform: scale(1.1); /* Example: Scale the image to 110% on hover */
    transition: transform 0.3s ease; /* Add a smooth transition */
  }